<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)=" leerAjustesSecretos()">leer ajustes</ion-button>

  <ion-item *ngFor="let clave of ajustes">
    <ion-label>{{clave.claveSecreta}}</ion-label>
  </ion-item>

  <ion-card>
      <ion-item>
        <ion-label>Pedido1 </ion-label>
        <ion-input [(ngModel)]="data.pedido1.nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Telefono 1: </ion-label>
        <ion-input [(ngModel)]="data.pedido1.telefono"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Pedido 2: </ion-label>
        <ion-input [(ngModel)]="data.pedido2.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Telefono 2: </ion-label>
        <ion-input [(ngModel)]="data.pedido2.telefono"></ion-input>
      </ion-item>
  
    }
  
  
  
  </ion-card>
  
  <ion-button (click)="crearNuevoUsuario()">
    crear
  </ion-button>
</ion-content>