.foco-on{
    background-color: #ffeb3b;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;

}

.foco-off{
    background-color: #9b9b95;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;

}