<ion-header> 

  <ion-toolbar class="header_per">
    <ion-title class="ion-text-center"> AGREGAR CATEGORÍA
       </ion-title>
       <ion-buttons slot="start">
        <ion-menu-button class="iconoh"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="input">
      <ion-label>Agrega una nueva categoría</ion-label>
      <ion-icon color="dark" slot="start" name="add-circle"></ion-icon>
    </ion-item>
  <ion-card-content>

  <ion-label class="label">Categoria nueva</ion-label>
  <ion-item class="input1">
    <ion-icon color="dark" slot="start" name="add"></ion-icon>
    <ion-input   [(ngModel)]="categorias.nombre" ></ion-input>
  </ion-item>


<ion-label class="label" >Foto</ion-label>
<ion-item class="input1">
  <ion-buttons slot="end">
    <ion-button >
      <label for="file-upload">
        <ion-icon color="dark" slot="icon-only" name="images"></ion-icon>
      </label>
    </ion-button>
  </ion-buttons>
  <input  class="input" (change)= "newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="imagen/">
  <ion-input [(ngModel)]="categorias.img" ></ion-input>
</ion-item>



<ion-buttons class="butt_personalizado" >
  <ion-button class="iconoh" (click)="agregarCategoria()" expand="block" fill="clear" shape="round"> 
      <ion-icon slot="icon-only" name="save" ></ion-icon>
  </ion-button>
  <ion-label>Guardar</ion-label>
 </ion-buttons>

  </ion-card-content>
</ion-card>
</ion-content>
