<ion-list>
  <ion-list-header>
    <strong> MENÚ </strong>
  </ion-list-header>

    
<ion-menu-toggle>
  <ion-item class="menuseparacion" detail= "true"  [routerLink]="['/bienvenidos']">
    <ion-icon color="dark" slot="start" name="home"></ion-icon>
    <ion-label >
      Home
    </ion-label>
  </ion-item>
 </ion-menu-toggle>

 
<ion-menu-toggle *ngIf="login">
 <ion-item class="menuseparacion" detail= "true"  [routerLink]="['/servicios']"  >
  <ion-icon color="dark" slot="start" name="list-circle"></ion-icon>
   <ion-label>
     Categorias
   </ion-label>
 </ion-item>
</ion-menu-toggle>

 
<ion-menu-toggle *ngIf="login == false">
<ion-item class="menuseparacion" detail= "true"  [routerLink]="['/login']"   >
  <ion-icon color="dark" slot="start" name="people-circle"></ion-icon>
   <ion-label>
     Login
   </ion-label>
 </ion-item>
</ion-menu-toggle>

<ion-menu-toggle *ngIf="login">
 <ion-item class="menuseparacion" detail= "true"  [routerLink]="['/perfil']" >
  <ion-icon color="dark" slot="start" name="person-circle"></ion-icon>
    <ion-label>
      Perfil
    </ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle *ngIf="login ">
  <ion-item class="menuseparacion" detail="true" (click)="logout()">
    <ion-icon color="dark" slot="start" name="log-in"></ion-icon>
    <ion-label>
     Salir
    </ion-label>
    <ion-icon ></ion-icon>
  </ion-item>
 </ion-menu-toggle>
</ion-list>
 