  .header_per{
    --background:linear-gradient(#941841,#D01732);
    --color: white;
    --text-align: center ;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
.iconoh{
 --color: white;
}
.imagen{
   font-size: 200px;
  margin-left: 18%;
 }     