<ion-header>
  <ion-toolbar class="header_per">
    <ion-buttons slot="start">
      <ion-menu-button class="iconoh"></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-icon color="dark" class="imagen" name="person"></ion-icon>
    </ion-card-content>
  
  <ion-list *ngIf="info">
    <ion-item>
      <ion-label>
        {{info.correo}}
      </ion-label>
      <ion-icon (click)="editAtributo('correo')" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        {{info.nombre}}
      </ion-label>
      <ion-icon (click)="editAtributo('nombre')" slot="end" name="create"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>

<ion-toolbar color="dark" >
  <ion-segment value="all">
    <ion-segment-button  detail= "true" [routerLink]="['/bienvenidos']"    value="all">
    <ion-icon name="home"></ion-icon>
    Inicio      
    </ion-segment-button>

    <ion-segment-button value="favorites" [routerLink]="['/servicios']" >
      <ion-icon name="search"></ion-icon>
      Buscar  
    </ion-segment-button>

    <ion-segment-button value="all"  [routerLink]="['/perfil']">
      <ion-icon name="person"></ion-icon>
      Perfil  
    </ion-segment-button>

    
  </ion-segment>
</ion-toolbar>