<ion-header> 
    <ion-toolbar class="header_per">  
      <ion-title *ngIf="restaurante" > {{restaurante.nombre}}
         </ion-title>
        <ion-buttons slot="end" >
          <ion-button class="iconoh" (click)="cerrar()">
            <ion-icon slot="start" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-card-content class="text-center">
      <img alt="local" class="foto" *ngIf="restaurante"  [src]= restaurante.foto >
    </ion-card-content>
      
    

    <h3 class="subtitulo, ion-text-center">Platos</h3>
    
  <ion-card *ngFor="let platillo of platillos">
  
  <div   class="accordion" id="accordionExample">
    <div  class="accordion-item">
      <h2   class="accordion-header" id="headingOne">
        <button  class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{platillo.nombre}}
        </button>
      </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
  <div class="accordion-body">
  
            
  <ion-card no-margin class="inf" >
    <ion-card-content>
      <ion-fab *ngIf="admin" vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="dark">
          <ion-icon name="arrow-forward"></ion-icon>
          </ion-fab-button>
            <ion-fab-list side="end" >
              <ion-fab-button (click)="eliminar(platillo)"><ion-icon name="trash-bin"></ion-icon></ion-fab-button>
              <ion-fab-button (click)="openMenu(restaurante, categoria, platillo)"><ion-icon name="create"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>  
    </ion-card-content >
  
    
      <div class="divfoto">
      <img alt="local" class="foto"  [src]= platillo.foto >
    </div>
    
  
    <ion-card-content class="cardd">
      <ion-label class="labeltit"> {{platillo.nombre}} 
      </ion-label>
      <h2>{{platillo.precio}}</h2>
    </ion-card-content>

 
<ion-card-content class="text-center">
  <ion-buttons class="buttonsp" slot="start">
    <ion-button [href]="'https://wa.me/593' + restaurante.numero" target="blank"  >
      <img class="img" src="https://cdn-icons-png.flaticon.com/512/5968/5968841.png" >
      </ion-button>
 
    <ion-button [href]="restaurante.ubicacion"  target="blank"  >
      <img  class="img"  src="https://cdn-icons.flaticon.com/png/512/2875/premium/2875433.png?token=exp=1643762146~hmac=262942674dd824eeb6cb6f44a41f0a75" >
      </ion-button>   
  </ion-buttons>
</ion-card-content>
    
      <ion-buttons slot="end">
        <ion-button   >
          <ion-icon name="create-outline"></ion-icon>
         </ion-button>
        </ion-buttons>

                 
  
            </ion-card> 
          </div>
        </div>
      </div>
    </div>
  </ion-card>
  
  
  </ion-content>