<ion-header> 
  <ion-toolbar>  
    <h3 ion-title class="ion-text-center"> LOCALES
       </h3>
       <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo, ion-text-center">Restaurantes</h3>
    <ion-card>
      <h2  class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
        <strong >RESTAUTANTES</strong> 
       </div>
    </div>
  </ion-card>
</ion-content>