<ion-header> 

  <ion-toolbar>
     
    <h3 ion-title class="ion-text-center"> SERVICIOS
       </h3>

       <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      

  </ion-toolbar>
  
</ion-header>

<ion-content>
  <h3 class="subtitulo, ion-text-center">Restaurantes</h3>

<ion-card>
  

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2  class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        ASADOS
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong class=" ion-text-center">RESTAUTANTES</strong> 
        <ion-slides>
  
          <ion-slide *ngFor="let restaurante of restaurantes">
            
            <ion-card no-margin color="danger">
              
              <img alt="menu" [src]='restaurante.foto' width="350" height="150" >
            <h4>Nombre: {{restaurante.nombre}}</h4>
            <h4>Descripción: {{restaurante.descripcion}}</h4>
            <h4>Número: {{restaurante.numero}}</h4>
            <h4>Ubicación :{{restaurante.ubicacion}}</h4>
            <h4 >valorciones :{{restaurante.numValoraciones}}</h4>
            <h4>valoracion :{{restaurante.valoracion}}</h4>
            
                <ion-button color="#DB7093" >
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-button>
           </ion-card>
           
          </ion-slide>
        </ion-slides>
        
      </div>
    </div>
  </div>
</div>

</ion-card>



<ion-button [routerLink]="['/agregar-local']" expand="block" shape="round">
  Registrar Local
</ion-button>

</ion-content>