.content{
    margin: 20px;
}



.slider{
    background: linear-gradient(#FF9A00,#CA312B,#6D1A13);
    color: #ffff;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    
}

.alinear{
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-family: fantasy;
    
}
.img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.foto{
    height: 300px;
    width: 300px;
    border-radius: 40px
}

.icono{
  
  font-size: 30px ;
  margin: 10px;
  text-align: center;
  color: #000;

}

.color{
  background-color: #F4F3F6;
  border-radius: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
 
}
.titulo_pe{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  font-weight: bold;
  
  }

.header_per{
  --background:linear-gradient(#941841,#D01732);
  --color: white;
  --text-align: center ;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  .iconoh{
    --color: white;
    }

.acordion{
  background-color:black ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}




.card{
  height: 150px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: end;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }