<ion-header> 

  <ion-toolbar> 
    
      <h3 ion-title class="ion-text-center"> CATEGORIAS </h3>

      
      <ion-buttons slot="start" >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
  </ion-toolbar> 
</ion-header> 

<ion-content>
  <ion-card *ngFor="let categoria of categorias" color="dark">
    <ion-card-content  >
      <img class="borde" src={{categoria.img}} >
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/comidatradicional']">
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <label>{{categoria.nombre}}</label>
        </ion-button> 

        <ion-button *ngIf="admin" (click)="addRestaurantes(categoria)"  expand="block" fill="clear" shape="round">
          <ion-icon name="add"></ion-icon>
        </ion-button>

        <ion-button (click)="verRestaurantes(categoria)"  expand="block" fill="clear" shape="round">
          <ion-icon name="eye"></ion-icon>
        </ion-button>

      </ion-buttons >
    </ion-card-content>
  </ion-card>
  
 

<ion-toolbar color="dark" >
  <ion-segment value="all">
    <ion-segment-button  detail= "true" [routerLink]="['/bienvenidos']"    value="all">
      
    <ion-icon name="home"></ion-icon>
    Inicio      
    </ion-segment-button>

    <ion-segment-button value="favorites">
      <ion-icon name="search"></ion-icon>
      Buscar  
    </ion-segment-button>

    <ion-segment-button value="favorites">
      <ion-icon name="person"></ion-icon>
      Perfil  
    </ion-segment-button>

    <ion-segment-button value="fsdf">
      <ion-icon name="heart"></ion-icon>
      Favoritos
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>