.content{
  margin: 20px;
}

.estrellas{
  color: white;
  font-size: 25px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 4%;
  opacity: 1.0;
}

.enviar{
  margin-left: 20px;
  font-size: 30px;
  color: #EE9023;
  border:#EE9023 2px;
  border-radius: 20px;
  opacity: 1.0;

}

.enviar:hover{
  color: #45B552;
}
.card{
  border:3px ;
  background-color: black;
  border-radius:20px;
  opacity: 0.7;
}

.inf{
  background: linear-gradient(#FF9A00,#CA312B,#6D1A13);
  color: #ffff;
  margin: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 40px;
  
}

.alinear{
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
  font-family: fantasy;
  
}
.img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.foto{
  height: 300px;
  width: 300px;
  margin-left:10px;
  margin-right:20px;
  border-radius: 40px
}

.icono{

font-size: 30px ;
margin: 10px;
text-align: center;
color: #000;

}

.color{
background-color: #F4F3F6;
border-radius: 200px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;

}

.acordion{
background-color:black ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}



.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: end;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}