

<ion-item (click)="editAtributo('descripcion',restaurante)" detail= "true"    >
  <ion-label>
    <H6>Descripcion</H6>
  </ion-label>
</ion-item>

<ion-item (click)="editAtributo('numero',restaurante)" detail= "true"   >
  <ion-label>
    <H6>Número</H6>
  </ion-label>
</ion-item>

<ion-item (click)="editAtributo('direccion',restaurante)" detail= "true"   >
  <ion-label>
    <H6>Dirección</H6>
  </ion-label>
</ion-item>

<ion-item (click)="editAtributo('ubicacion',restaurante)" detail= "true"   >
  <ion-label>
    <H6>Ubicación enlace</H6>
  </ion-label>
</ion-item>

