<ion-header class="ion-no-border" > 
 
  <ion-toolbar > 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      REGISTRO
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LOGIN</ion-title>
      </ion-toolbar>
  </ion-header> 

  
  <ion-card>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating" >Nombre:</ion-label>
        <ion-input [(ngModel)]="datos.nombre" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Direccion:</ion-label>
        <ion-input [(ngModel)]="datos.direccion" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Celular:</ion-label>
        <ion-input type="number" [(ngModel)]="datos.celular" ></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating" >Correo:</ion-label>
        <ion-input [(ngModel)]="datos.correo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input  type= "password" [(ngModel)]="datos.password"></ion-input>
      </ion-item>

     <ion-button (click)="registrar()">
      Registrarme
     </ion-button>

     <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
     O Login
    </ion-button>


    </ion-card-content>
  </ion-card>
  <div class="ion-text-center">
    <img alt="login" src='https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png' width="150" height="250"  >
  </div>

</ion-content>