.boton{
height: 40px;
width: 150px;
border-radius: 50px;
}

.margen{
 margin-bottom: 10px;
 margin-left: 10px;
 margin-right: 10px;
}


.imagen{
font-size: 200px;
margin-left: 18%;
}

.borde{
--border: solid 1px #000000;
--border-radius: 5px;
}