<ion-header> 

  <ion-toolbar> 
    
      <h3 ion-title class="ion-text-center"> BIENVENIDOS </h3>

      
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
  </ion-toolbar> 
</ion-header> 
  
  
<ion-content class="subtitulo, ion-text-center">

  
  <div>
    <img src="https://www.bsas-catering.com.ar/documentos/4/35_VIANDAS2.jpg" alt="Italian Trulli">
  </div>
  <h2 class="subtitulo">VIANDAS</h2>

  

  <div>
    <img src="http://d3ugyf2ht6aenh.cloudfront.net/stores/001/764/333/products/diseno-sin-titulo1-7d957d5bc991e0635816256862072149-640-0.png" alt="Italian Trulli">
  </div>



</ion-content>
    

    


 






