.content{
    margin: 20px;
  }
  
  .estrellas{
    color: white;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 4%;
    opacity: 1.0;
  }
  
  .enviar{
    margin-left: 20px;
    font-size: 30px;
    color: #EE9023;
    border:#EE9023 2px;
    border-radius: 20px;
    opacity: 1.0;
  
  }
  .header_per{
    --background:linear-gradient(#941841,#D01732);
    --color: white;
    --text-align: center ;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
.iconoh{
--color: white;
}
.titulo_pe{
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 20px;
font-weight: bold;

}
  
  .enviar:hover{
    color: #45B552;
  }
  .card{
    border:3px ;
    background-color: black;
    border-radius:20px;
    opacity: 0.7;
  }
  
  .inf{
    background: linear-gradient(#FF9A00,#CA312B,#6D1A13);
    color: #ffff;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px; 
  }

  .buttonsp{
    margin-bottom: 10px;
  }
  
  .alinear{
    margin-left: 10px;
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  
  }
  .cardd{
    margin-top: 2%;
    text-align: center;
  }
  .img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
  }
  
  .foto{
    height: 275px;
    width: 300px;
    margin-left:5px;
    margin-right:20px;
    border-radius: 40px;
    margin-bottom: 1px;
   
  }
  
  .icono{
  
  font-size: 25px ;
  color:white;
margin-left: 0%; 
  }
  
  .color{
  background-color: #F4F3F6;
  border-radius: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  
  }
  
  .acordion{
  background-color:black ;

  color: white;
  }
  
  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: end;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  .itemAcordion{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
  }