<ion-header> 

  <ion-toolbar>
    <h3 ion-title class="ion-text-center"> AGREGAR PLATILLOS
       </h3>
       <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <ion-card-content>
<div>
  <ion-item>
    <ion-label position="stacked" >Nombre Platillo:</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" >Descripcion:</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" >Precio:</ion-label>
    <ion-input ></ion-input>
  </ion-item>

</div>

<ion-item>
  <ion-label  >Foto</ion-label>
  <ion-buttons slot="end">
    <ion-button >
      <label for="file-upload">
        <ion-icon slot="icon-only" name="images"></ion-icon>
      </label>
      <input (change)= "newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="imagen/">
    </ion-button>
  </ion-buttons>
</ion-item>

<ion-input [(ngModel)]="platillo.foto" ></ion-input>

<ion-buttons >
  <ion-button (click)="getPlatillo()" expand="block" fill="clear" shape="round">
    
      <ion-icon slot="icon-only" name="save-outline" color="dark"></ion-icon>
    
  </ion-button>
 </ion-buttons>

  </ion-card-content>
</ion-content>



 
 


