<ion-header> 

  <ion-toolbar class="header_per">
    <ion-title class="ion-text-center"> AGREGAR PLATILLOS
       </ion-title>
      <ion-buttons slot="end" >
        <ion-button class="iconoh" (click)="cerrar()">
          <ion-icon slot="start" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
  <ion-item class="input">
    <h5 *ngIf="categoria">Agrega nuevo plato {{restaurante.nombre}}</h5>
  
    <ion-icon color="dark" slot="start" name="add-circle"></ion-icon>
  </ion-item>
  <ion-card-content>
    <ion-label class="label" >Nombre Platillo</ion-label>
  <ion-item class="input1">
    <ion-input [(ngModel)]="platillo.nombre" ></ion-input>
  </ion-item>

  <ion-label class="label" >Precio</ion-label>
  <ion-item class="input1">
    <ion-input [(ngModel)]="platillo.precio"></ion-input>
  </ion-item>

<ion-label class="label" >Foto</ion-label>
<ion-item class="input1">
  <ion-buttons slot="end">
    <ion-button >
      <label for="file-upload">
        <ion-icon color="dark" slot="icon-only" name="images"></ion-icon>
      </label>
    </ion-button>
  </ion-buttons>
  <input (change)= "newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="imagen/">
  <ion-input [(ngModel)]="platillo.foto" ></ion-input>
</ion-item>



<ion-buttons class="butt_personalizado" >
  <ion-button class="iconoh"  (click)="agregarPlato()" expand="block" fill="clear" shape="round"> 
      <ion-icon slot="icon-only" name="save" ></ion-icon>
  </ion-button>
  <ion-label>Guardar</ion-label>
 </ion-buttons>
  </ion-card-content>
</ion-card>
</ion-content>



 
 


